.method-point,
.wallet-point {
  box-shadow: rgb(60, 64, 67, 30%) -1px 1px 10px 4px;
  background-color: #fff;
  border-radius: 16px;
  padding-top: 2.2rem;
  position: relative;
  width: 30%;

  .bank-point,
  .card-point,
  .cash-point,
  .crypto-point,
  .stock-point {
    background: #066d06;
    border-radius: 12px;
    position: absolute;
    width: 3rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2.4rem;
    left: 1.4rem;
    box-shadow: rgb(60 64 67 / 30%) -1px 1px 10px 4px;
  }

  .bank-point {
    background-color: #b3b397;
  }

  .card-point {
    background-color: #e1b46a;
  }

  .cash-point {
    background-color: #83c985;
  }

  .crypto-point {
    background-color: #b885b6;
  }

  .stock-point {
    background-color: #79b0ad;
  }
  .v-card {
    background-color: #e15c5c;
  }

  svg-icon {
    color: #000;
  }
  small{
    font-size:70%;
  }
}

.wallet-point {
  width: 100%;
  background-image: url('../../../assets/images/Curve\ Line.svg');
  background-size: cover;
  padding: 1.3rem;

  svg-icon {
    stroke-width: 10px;
    stroke: #fff;
    color: #fff;
  }
}
