<div class="dashboard-methods pt-4 mt-4">
  <div class="row w-full flex justify-between">
    <div class="method-point flex flex-col p-4">
      <div class="bank-point">
        <svg-icon key="bank" fontSize="2rem"></svg-icon>
      </div>
      <div class="">
        <span class="block font-bold">Bank</span>
        <small>small text</small>
      </div>
    </div>
    <div class="method-point flex flex-col p-4">
      <div class="card-point">
        <svg-icon key="card" fontSize="2rem"></svg-icon>
      </div>
      <div class="">
        <span class="block font-bold">card</span>
        <small>small text</small>
      </div>
    </div>
    <div class="method-point flex flex-col p-4">
      <div class="cash-point">
        <svg-icon key="cash" fontSize="2rem"></svg-icon>
      </div>
      <div class="">
        <span class="block font-bold">Cash</span>
        <small>small text</small>
      </div>
    </div>
  </div>
 
  <!-- <div class="w-full flex mt-6">
    <div class="wallet-point flex p-4 items-center pl-12">
      <div class="icon-div">
        <svg-icon key="ewallet" fontSize="3rem"></svg-icon>
      </div>
      <div class="ml-4 text-white text-4xl">
        <span class="block font-bold"> $ 1200.00</span>
      </div>
    
    </div>
  </div> -->

  <div class="row w-full flex justify-between mt-14">
    <div class="method-point flex flex-col p-4">
      <div class="crypto-point">
        <svg-icon key="cpu" fontSize="2rem"></svg-icon>
      </div>
      <div class="">
        <span class="block font-bold">Crypto</span>
        <small>small text</small>
      </div>
    </div>
    <div class="method-point flex flex-col p-4">
      <div class="card-point">
        <svg-icon key="card" fontSize="2rem"></svg-icon>
      </div>
      <div class="">
        <span class="block font-bold">V-cards</span>
        <small>small text</small>
      </div>
    </div>
    <div class="method-point flex flex-col p-4">
      <div class="stock-point">
        <svg-icon key="stock" fontSize="2rem"></svg-icon>
      </div>
      <div class="">
        <span class="block font-bold">Stocks</span>
        <small>small text</small>
      </div>
    </div>
  </div>



</div>
