<ion-content>



  <!-- refrence -->
  <!-- https://dribbble.com/shots/7188812-Nomad-App-Light-Theme -->
  <div class="ballance-header">
    <div class="transaction-ballance">
      <h3 class="letspac-1">Transfer Amount</h3>
      <h1>$5,000</h1>
      <p>of <small>$20,000 available</small></p>
    </div>
  </div>

  <div class="sourecs-container pt-8">

    <app-source-item></app-source-item>
    <app-source-item class="block relative mt-8"></app-source-item>
    <div class="flex w-full relative add-source justify-start mt-8">
      <ion-button (click)="add_source()" expand="block" fill="outline" shape="round">
        Add Source
      </ion-button>
    </div>
  </div>

  <div class="footer-section">
    <div class="flex justify-between">
      <div class="">
        <span>From</span>
      </div>
      <div class="mr-4">
        <span>To</span>
      </div>
    </div>
    <div class="progress-indication">
      <!-- sourece icon -->
      <div class="point source-point">
        <svg-icon key="sendmoney" fontSize="5rem"></svg-icon>
      </div>

      <!-- connection -->
      <div class="connecting-dash">
        <ion-progress-bar reversed="true" value="0" buffer="0"></ion-progress-bar>
      </div>

      <!-- destination icon -->
      <div class="point destination-point">
        <svg-icon key="destination" fontSize="5rem"></svg-icon>
      </div>

    </div>

    <div class="continue-button">
      <ion-button (click)="continue_to_destination()" expand="full" fill="solid" shape="round">
        Continue to Destination
      </ion-button>
    </div>
  </div>
</ion-content>
