
<ion-content>

  <div class="row">
    <img src="../../../../assets/images/logo/via-logo.svg" alt="">
  </div>

  <div class="name-row mb-8">
    <h1 class="text-5xl font-bold ml-4">Roqaya</h1>
  </div>

  <div class="row flex justify-start items-center p-4">
    <div class="icon">
      <svg-icon key="phone" fontSize="1.7rem"></svg-icon>
    </div>
    <div class="ml-4">
      <p class="font-bold text-2xl">
        +20 01066219817
      </p>
    </div>
  </div>

  <div class="row flex justify-between items-center p-4">
    <div class="flex justify-start items-center">
          <div class="icon">
      <svg-icon key="sandbox" fontSize="1.7rem"></svg-icon>
    </div>
    <div class="ml-4">
      <p class="font-bold text-2xl">
        Sandbox
      </p>
    </div>
  </div>
  
    <div class="">
      <ion-toggle slot="start" name="banana" color="dark" checked></ion-toggle>
    </div>
  </div>


  <div class="row flex justify-start items-center p-4">
    <div class="icon">
      <svg-icon key="delete" fontSize="1.7rem"></svg-icon>
    </div>
    <div class="ml-4">
      <p class="font-bold text-2xl">
        Delete Account
      </p>
    </div>
  </div>

  <div class="row flex justify-start items-center p-4">
    <div class="icon">
      <svg-icon key="sign-out" fontSize="1.7rem"></svg-icon>
    </div>
    <div class="ml-4">
      <p class="font-bold text-2xl">
       Log Out
      </p>
    </div>
  </div>


  <app-bottom-nav></app-bottom-nav>
 

</ion-content>
   
   