

.ballance-header {
  h3 {
    font-size: 2rem;
  }
  h1
  {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: var(--secondary-shade);
    width: 50%;
    border-radius: 40px;
    padding: 0.5rem;
    margin: unset;
    padding-left: 1.2rem;
  }
  p
  {
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

.footer-section{
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 14rem;
  left: 0;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  > *{
    width: 100%;
  }

  .progress-indication{
    display: flex;
    .point{
      width: 3.5rem;
      z-index: 5;
      position: relative;
      display: flex;
      align-items: center;

      &.source-point
      {

      }

      &.destination-point{
      }

    }
    .connecting-dash{
      width: 100%;
      display: flex;
      align-items: center;
    }



  }
  span {
    font-size: 1.4rem;
  }

}
