
<div class="aspect-container aspect-w-12 aspect-h-7">

  <div class="m-auto bg-red-100 rounded-xl text-white shadow-2xl transition-transform transform  v-credit">

    <img class="relative object-cover w-full h-full rounded-xl" src="../../../../assets/images/Animated Shape.svg">

    <div class="w-full px-8 absolute top-4">
      <div class="flex justify-between">
        <div class="pt-2">
          
          <p>lorem ipsum</p>
        </div>
        <img class="cc-logo" src="../../../../assets/images/mc-logo.svg">
      </div>

      <div class="pt-4 flex justify-between item-center">
        <div class="">
        <p class="font-medium text-lg tracking-more-wider">
          4642 3489 9867 7632
        </p>
      </div>
      
      </div>


      <div class="pt-3 pr-6">
        <div class="flex justify-between">
         
          <div class="">
            <p class="font-light text-xs">
              Expiry

            </p>
            <p class="font-medium tracking-wider text-sm">
              03/25
            </p>
          </div>

          <div class="">
            <p class="font-light text-xs">
              CVV

            </p>
            <p class="font-bold tracking-more-wider text-sm">
              577
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
