.v-credit {
  .cc-logo{
    width: 20%;
  }
  input{
    border: dashed 1px #f3f3f3;
    padding: 0.2rem;
    background-color: transparent;

  }
  
}
.show-btn button {
    justify-content: center;
    background: var(--secondary-tint);
    padding: 0.5rem;
    border-radius: 20px;
    color: var(--secondary);
  }