.methods-dashboard{

  // define starting points for points
  --d-width: 100px; // for a single point
  --d-height: 85.66px; // for a single point
  --d-top:10px; // starting position
  --d-left:0px; // starting position
  --d-right:var(--d-left); // starting position
  --d-top-disatance:110px; // vertical distance between each point
  --d-main-top:120px;
  // --d-main-top:calc( ((var(--d-top) + ( var(--d-top-disatance) * 2 )) + var(--d-height)) / 2);

  // shadow
  --shadow: 0 10px 15px -3px rgb(6, 6, 6 , 78%), 0 4px 6px -2px rgb(0, 0, 0 , 78%);
--ring-offset-shadow: 0 0 #000;
--ring-shadow: 0 0 #333;    

  .method-point {
    // == positions
    width: var(--d-width);
    height: var(--d-height);
    position: absolute;
    // left: var(--d-left);
    // top: var(--d-top);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    // positions ==

    
box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);

    border-radius: 16px;
    background-color: black;

   

    .brand-icon-contaienr {
      width: 110%;
      // position: absolute;
      display: flex;
      // justify-content: center;
      // flex-wrap: nowrap;
      // align-items: center;

      ion-icon {
        padding: 5px;
        background: transparent;
        color: var(--tertiary);
        font-size: 1rem;
      }
      p{
        font-size: 1rem;
        text-align: center;
        color: #fff;
      }
    }

    .amount-text-container {
      font-weight: 400;
      font-size: 0.9rem;
      color: #333;
      display: flex;
      padding-left: 0.25rem;
      // padding-top: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .amount {
        color: #fff;
      }
    }

    // points positions
    // left
    &.bank-point{
      top: calc( var(--d-top) + ( var(--d-top-disatance) * 0 ) );

    }
    &.pysical-cards-point{
      top: calc( var(--d-top) + ( var(--d-top-disatance) * 1 ) );
    }
    &.cash-point{
      top: calc( var(--d-top) + ( var(--d-top-disatance) * 2 ) );
    }

    // right
    &.crypto-point{
      top: calc( var(--d-top) + ( var(--d-top-disatance) * 0 ) );
      right: var(--d-right);
      left: unset;
    }
    &.virtual-card-point{
      top: calc( var(--d-top) + ( var(--d-top-disatance) * 1 ) );
      right: var(--d-right);
      left: unset;
    }
    &.stocks-point{
      top: calc( var(--d-top) + ( var(--d-top-disatance) * 2 ) );
      right: var(--d-right);
      left: unset;
    }

    // main-point The wallet
    &.main-point{
      top: var(--d-main-top);
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 16px;
      .amount{
        color: #fff;
      }
    }
  }
}
