<div class="methods-dashboard">
  <!-- == left == -->
  <div class="method-point bank-point">
    <div class="amount-text-container">
      <span class="brand-icon-contaienr">
        <ion-icon name="business-outline"></ion-icon>
        <p>Bank</p>
      </span>
      <p class="amount">$34.1K</p>
    </div>
  </div>
  <!-- bank -->

  <div class="method-point pysical-cards-point">
    <div class="amount-text-container">
      <span class="brand-icon-contaienr">
        <ion-icon name="card"></ion-icon>
        <p>Card</p>
      </span>
      <p class="amount">$34.1K</p>
    </div>
  </div>
  <!-- pysical card -->

  <div class="method-point cash-point">
    <div class="amount-text-container">
      <span class="brand-icon-contaienr">
        <ion-icon name="cash"></ion-icon>
        <p>Cash</p>
      </span>
      <p class="amount">$34.1K</p>
    </div>
  </div>
  <!-- cash -->

  <!-- main wallet -->
  <div class="method-point main-point">
    <div class="amount-text-container">
      <span class="brand-icon-contaienr">
        <ion-icon name="logo-usd"></ion-icon>
        <p>Wallet</p>
      </span>
      <p class="amount">$34.1K</p>
    </div>
  </div>
  <!-- virtual card -->

  <!-- == right == -->
  <div class="method-point crypto-point">
    <div class="amount-text-container">
      <span class="brand-icon-contaienr">
        <ion-icon name="logo-bitcoin"></ion-icon>
        <p>Crypto</p>
      </span>
      <p class="amount">$34.1K</p>
    </div>
  </div>
  <!-- crypto -->

  <div class="method-point virtual-card-point">
    <div class="amount-text-container">
      <span class="brand-icon-contaienr">
        <ion-icon name="card-outline"></ion-icon>
        <p>V-Cards</p>
      </span>
      <p class="amount">$34.1K</p>
    </div>
  </div>
  <!-- virtual card -->

  <div class="method-point stocks-point">
    <div class="amount-text-container">
      <span class="brand-icon-contaienr">
        <ion-icon name="trending-up"></ion-icon>
        <p>Stocks</p>
      </span>
      <p class="amount">$34.1K</p>
    </div>
  </div>
  <!-- stocks -->
</div>
