<app-header title="Add Source"></app-header>

<ion-content>

  <div class="country-row">
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-base font-bold mb-2" for="grid-country">
        Enter Your Country
      </label>
      <div class="relative">
        <mat-form-field class="countries-autocomplete" appearance="fill">
          <mat-label>Country</mat-label>
          <input matInput
            aria-label="Country"
            [matAutocomplete]="auto"
            [formControl]="countryCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option class="country-option" *ngFor="let country of filteredCountries | async" [value]="country.alpha2Code">
              <img class="example-option-img" aria-hidden [src]="country.flag">
              <span>{{country.name}}</span> |
              <small>{{country.callingCodes[0]}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
      <ion-button (click)="list_sources()" expand="full" fill="clear" shape="round">
        See Sources
      </ion-button>
    </div>
  </div>

  <div class="available-sources">
    <ion-text color="primary">
      <h1 class="letspac-1 font-bold text-xl text-gray-800 mt-8">
        Available Sources :
      </h1>
    </ion-text>


    <app-source-item *ngFor="let item of payment_list" [source_item]="item" class="block relative mt-8"></app-source-item>


  </div>


</ion-content>
