
<app-header title="Add Source"></app-header>

<ion-content>

  <div class="country-row">
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-base font-bold mb-2" for="grid-state">
        Enter Your Country
      </label>
      <div class="relative">
        <!-- <select
          class="block appearance-none w-full bg-white border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-state">
          <option value="US">USA</option>
          <option>hourly</option>
          <option>Daily</option>
          <option>Weekly</option>
          <option>Monthly</option>
          <option>Yearly</option>
        </select> -->
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>State</mat-label>
          <input matInput
                 aria-label="State"
                 [matAutocomplete]="auto"
                 [formControl]="stateCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
              <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
              <span>{{state.name}}</span> |
              <small>Population: {{state.population}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
    </div>
  </div>

  <div class="available-sources">
    <ion-text color="primary">
      <h1 class="letspac-1 font-bold text-xl text-gray-800 mt-8">
        Available Sources :
      </h1>
    </ion-text>

     <app-source-item [source_item]="source_item" class="block relative mt-8"></app-source-item>


  </div>


</ion-content>
