<div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 flex justify-between items-center source-item">

  <div class="flex items-center">
    <!-- <ion-icon class="w-7 text-xl" name="wallet-outline"></ion-icon> -->
    <svg-icon [key]="source_item.category" fontSize="2rem"></svg-icon>

    <div class="flex text-lg leading-6 pl-4 font-medium dark:text-white text-gray-800">
      <h4 class="">{{source_item.name}}</h4>
    </div>
  </div>
  <img [src]="source_item.image" alt="">
  <div class="">
    <span *ngIf="source_item.amount != -1" class="w-36 mr-0 relative pr-3 py-1 flex flex-wrap justify-end ">
      <span class="relative font-bold text-green-900 leading-tight">
        {{source_item.amount | currency}}
      </span>
      <!-- <small>of $1,000 available</small> -->
    </span>
  </div>
</div>
