<ion-header class="block relative pb-0">

  <app-header title="VCC Details"></app-header>


  <app-cc  [card_details]="card_details"></app-cc>

  <div class="mt-4">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="history">
        <ion-label>history</ion-label>
      </ion-segment-button>
      <ion-segment-button value="settings">
        <ion-label>settings</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

