<ion-content>

  <div class="edit hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 items-center p-4 flex justify-between">

    <div class="">
      <h4 class="text-xl font-normal letspac-1 text-gray-700">Activate</h4>
    </div>
    <div class="">
      <ion-toggle (click)="toggle_activate_card()" [disabled]="loading.loading$ | async" slot="start" name="banana" color="warning" [checked]="card_details.status == 'ACT'"></ion-toggle>
    </div>
  </div>
  <h4 class="mt-4 text-xl font-normal letspac-1 text-gray-700">Card status {{status}}</h4>




</ion-content>
