<ion-content>

  <div class="edit hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 items-center p-4 flex justify-between">
  
    <div class="">
      <h4 class="text-xl font-normal letspac-1 text-gray-700">toggle this</h4>
    </div>
    <div class="">
      <ion-toggle slot="start" name="banana" color="warning" checked></ion-toggle>
    </div>
  </div>
  <div class="edit mt-4 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 items-center p-4 flex justify-between">
  
    <div class="">
      <h4 class="text-xl font-normal letspac-1 text-gray-700">toggle this</h4>
    </div>
    <div class="">
      <ion-toggle slot="start" name="banana" color="warning" checked></ion-toggle>
    </div>
  </div>
  <div class="edit mt-4 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 items-center p-4 flex justify-between">
  
    <div class="">
      <h4 class="text-xl font-normal letspac-1 text-gray-700">toggle this</h4>
    </div>
    <div class="">
      <ion-toggle slot="start" name="banana" color="warning" checked></ion-toggle>
    </div>
  </div>
  <div class="edit mt-4 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 items-center p-4 flex justify-between">
  
    <div class="">
      <h4 class="text-xl font-normal letspac-1 text-gray-700">toggle this</h4>
    </div>
    <div class="">
      <ion-toggle slot="start" name="banana" color="warning" checked></ion-toggle>
    </div>
  </div>
  
  </ion-content>
  