$primary : #090c10;
$secondary:#d97706;
$tertiary:#5260ff;

$bg-color: #f8f8f8;
$color:#676767;



$success:#2dd36f;
$warning:#ffc409;
$danger:#eb445a;

$dark:#222428;
$medium:#92949c;
$light:#f4f5f8;


//  controllers

$raised-card-by:2rem;