<ion-content [fullscreen]="true">

    <div class="row">
      <img src="../../../assets/images/logo/logoipsum-logo-15.svg" alt="" srcset="">
    </div>

    <div class="row mt-8">
      <img src="../../../assets/images/undraw_Login_re_4vu2.svg" alt="" srcset="">
    </div>
    <div class="row header-row">
      <h1 class="text-7xl font-bold letspac-1">Welcome ! </h1>
      <p class="text-gray-600 pl-2 text-2xl letspac-1" >Login in only 30 seconds</p>
    </div>
    <div class="row phone-row pt-8">
      <label for="price" class="block font-medium text-gray-700 text-2xl mb-2">
        Phone Number :
      </label>
      <div class="mt-1 relative rounded-md shadow-sm">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <span class="text-gray-500 sm:text-sm text-2xl p-2 pt-3">
            <ion-icon name="call"></ion-icon>
          </span>
        </div>
        <div class="absolute inset-y-0 left-10 flex items-center">
          <select id="country_select" name="country" class=" py-2 px-4 border-t border-r border-gray-300 border-b bo  h-full pl-6 pr-8 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-r-md outline-unset focus:border-0 ">
            <option>
              EGP
            </option>
            <option>
              CAD
            </option>
            <option>
              USA
            </option>
          </select>
        </div>
        <input [(ngModel)]="phone" type="tel" name="phone_number" id="phone_number" class="border-l border-b border-t border-gray-300 pl-32 outline-unset focus:border-0 block w-full sm:text-sm shadow-lg rounded-full p-4 bg-white py-5 px-20" placeholder="xxx-xxx-xxxx" />
   
      </div>
    </div>

    <div class="row button-row">
      <button [disabled]="loading.loading" (click)="submit()" type="button" class="py-4 px-6   focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center  font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-full flex justify-center items-center gold-gradient text-xl  letspac-1">
        Continue <ion-icon name="arrow-forward-outline" class="ml-3 text-2xl"></ion-icon>
      </button>

    </div>

</ion-content>
