ion-content{
  .container{
    margin: auto;
    padding: 2rem;

    .phone-row{
      p{
      }
    }
    .button-row{
      width: 100%;
      padding: 2rem;
      position: absolute;
      bottom: 0;
      left: 0;
      button{
        width: 100%;
      }
    }

  }
}
