ion-content{
  .header-row {
    h1 {
      letter-spacing: 1px;
    }
    p{
      letter-spacing: 1px;
    }
  }
  .phone-row{
    label {
      color: #d97706;
    }
    p{
    }
  }
  .button-row{
    width: 100%;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    button{
      width: 100%;
    }
  }
}
