
<ion-content class="block relative">

  <div class="filter">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 60">
      <path d="M 0 30 L 70 30 Q 100 60 130 30 L 200 30 L 200 0 L 0 0 Z" fill="#000000" style="
        filter: drop-shadow(0 3px 2px rgba(0,0,0,0.5));
        fill: white;
    "></path>
    </svg>

  </div>

<div class=" items mt-4">
  <div class="list-header bg-gray-400 flex justify-between">
    <div class="date">
      <p> June 2021 </p>
    </div>
    <div class="amount">
      <p> $ 5.600 </p>
    </div>
  </div>
  <app-transaction-item class="block relative mt-4" *ngFor="let t of past_transactions" [transaction]="t">
  </app-transaction-item>
</div>
<div class=" items mt-4">
  <div class="list-header bg-gray-400 flex justify-between">
    <div class="date">
      <p> June 2021 </p>
    </div>
    <div class="amount">
      <p> $ 5.600 </p>
    </div>
  </div>
  <app-transaction-item class="block relative mt-4" *ngFor="let t of past_transactions" [transaction]="t">
  </app-transaction-item>
</div>
</ion-content>
