ion-content {
  .header-row {
    h1 {
    }
    p {
    }
  }
  .phone-row {
    input,
    select {
      --tw-ring-color: transparent;
    }

    label {
      color: var(--secondary);
    }
    p {
    }
    span {
      color: var(--secondary);
    }
  }
  .button-row {
    --offset-bottom: 0 !important;
    width: 100%;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    button {
      width: 100%;
    }
  }
}
