<!-- Informations -->
<div class="p-4 flex flex-col justify-between">
  <div class="">

    <div class="flex justify-center items-center my-4">
      <h2 class="font-bold text-2xl">Payment Informations</h2>
    </div>

    <div class="flex justify-start items-center my-4">
      <span class="font-bold text-xl">
        Payment Amount : <span class="font-normal"> {{status.amount | currency:'USD':'symbol':'3.0'}}</span>
      </span>
    </div>

    <div class="line"></div>

    <div class="flex justify-start items-center my-4">
      <div class="">
        <span class="font-bold text-xl">
          Category :
        </span>
      </div>
      <div class="ml-4">
        <span class="font-normal">
          <div class="badge-div flex justify-start items-center">
            <!-- <div class="icon-div">
              <svg-icon [key]="payment?.request?.metadata?.category" fontSize="16px" class="ml-2"></svg-icon>
            </div> -->
            <div>
              <span *ngIf="payment?.request?.metadata?.category == 'cash'">Cash</span>
              <span *ngIf="payment?.request?.metadata?.category == 'ewallet'">Wallet</span>
              <span *ngIf="payment?.request?.metadata?.category == 'bank_transfer'">Bank Transfer</span>
              <span *ngIf="payment?.request?.metadata?.category == 'bank_redirect'">Bank Redirect</span>
              <span *ngIf="payment?.request?.metadata?.category == 'card'">Card</span>
              <span *ngIf="payment?.request?.metadata?.category == 'rapyd_ewallet'">Rapyd</span>
            </div>

          </div>
        </span>
      </div>
    </div>

    <div class="line"></div>


    <div class="flex justify-start items-center my-4 card flex-col"
      *ngIf="status.response_code || status.error_message">
      <div class="w-full">
        <span class="font-bold text-xl">
          Payemt Error :
        </span>
      </div>
      <div class="w-full">
        <div class="ml-4">
          <span class="font-normal">
            <p class="font-bold">Error code:</p><span class="font-normal">{{status.response_code}}</span>
          </span>
        </div>
        <div class="ml-4">
          <span class="font-normal">
            <p class="font-bold">Error Message:</p><span class="font-normal">{{status.error_message}}</span>
          </span>
        </div>
      </div>
    </div>
  

    <div class="flex justify-start items-center mt-4 card flex-col">

      <div class="w-full">
        <div class="mb-4">
          <span class="font-normal">
            <p class="font-bold text-xl">Status Details :</p>
            <span class="font-normal my-4">{{status.Status}}</span>
          </span>
        </div>
        <div class="line"></div>

        <div class="my-4">
          <span class="font-normal">
            <p class="font-bold text-xl">Status Message :</p>
            <span class="fonr-normal my-4">{{status.message}}</span>
          </span>
        </div>

        <div class="line"></div>

        <div class="my-4">
          <span class="font-normal">
            <p class="font-bold text-xl">Link :</p>
            <a [href]="status.redirect_url" target="_blank" rel="noopener noreferrer"
              class="my-4">{{status.redirect_url}}</a>
          </span>

          <button type="button" class="p-2 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center  font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-full flex justify-center items-center gold-gradient text-xl  letspac-1">
            Click to open link <svg-icon key="tabs" fontSize="1.8rem" class="ml-2"></svg-icon>
          </button>

        </div>
      </div>
    </div>


    <div class="flex justify-start items-center mb-4 card flex-col">
      <!-- instructions -->
      <div *ngIf="status.instructions?.length" class="w-full">
        <!-- <p *ngIf="status.instructions">instructions</p> -->
        <div *ngFor="let inst of status.instructions">
          <!-- <p *ngFor="let ins of status.instructions">{{ins}}</p> -->
          <p *ngIf="" class="font-bold">{{inst?.name}}</p>
          <p class="font-bold text-xl">Instructions : </p>
          <p *ngFor="let step of inst?.steps" class="font-normal">{{step.step1}}</p>
        </div>
      </div>

      <!-- instructions -->
      <div *ngIf="status.instructions?.name" class="w-full">
        <p *ngIf="" class="font-bold">{{status.instructions?.name}}</p>
        <p class="font-bold text-xl">Instructions : </p>
        <p *ngFor="let step of status.instructions?.steps" class="font-normal">{{step.step1}}</p>

      </div>

    </div>


  </div>





  <div class="">
    <ion-button [disabled]="!status.btn_active" (click)="continue_btn()" expand="full" fill="outline" shape="round">
      {{status.btn_text}}
    </ion-button>

    <ion-button (click)="close()" expand="full" fill="solid" shape="round">
      Close
    </ion-button>
  </div>
</div>
