
  <div class="row mt-4 flex justify-center">
    <svg-icon key="dial" fontSize="5rem"></svg-icon>
  </div>

  <div class="row pin-row pt-8">
    <div class="code-inputs">
      <input
        (ngModelChange)="update_code($event,i)"
        [id]="'code_input_'+i"
        [(ngModel)]="otp[i]"
        *ngFor="let i of [1,2,3,4,5,6]"
        type="text"
        inputmode="numeric"
        maxlength="1"
      />
    </div>
  </div>

  <div class="dialpad">
    <div class="row flex flex-wrap">
      <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,'clear',0,'continue']" class="w-1/3 text-center">
        <!-- numbers -->
        <ion-button style="width: 33vw;" *ngIf="(i != 'continue') && ( i != 'clear')"> {{i}} </ion-button >
        <!-- continue -->
        <ion-button style="width: 33vw;" *ngIf="i=='continue'"> 
          <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
        </ion-button>
        <!-- clear -->
        <ion-button style="width: 33vw;" *ngIf="i=='clear'"> 
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
         </ion-button>


      </div>

    </div>
  </div>