<app-header title="Selected Sources"></app-header>

<ion-content>



  <!-- refrence -->
  <!-- https://dribbble.com/shots/7188812-Nomad-App-Light-Theme -->
  <div class="ballance-header">
    <div class="transaction-ballance">
      <h3 class="letspac-1">Transfer Amount</h3>
      <h1>$5,000</h1>
    </div>
  </div>

  <div class="sourecs-container pt-8">

    <!-- Source List -->
    <div class="selected-sources" *ngFor="let source of selected_sources">

      <div class="selected-item" (click)="edit_source(source)">
        <div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 flex justify-between items-center source-item">

          <div class="flex items-center">
            <!-- <ion-icon class="w-7 text-xl" name="wallet-outline"></ion-icon> -->
            <svg-icon [key]="source.metadata.category" fontSize="2rem"></svg-icon>

            <div class="flex text-lg leading-6 pl-4 font-medium dark:text-white text-gray-800">
              <h4 class="">{{source.metadata.name}}</h4>
            </div>
          </div>
          <img [src]="source.metadata.image" alt="">
          <div class="">
            <span *ngIf="source_item.amount != -1" class="w-36 mr-0 relative pr-3 py-1 flex flex-wrap justify-end ">
              <span class="relative font-bold text-green-900 leading-tight">
                {{source_item.amount | currency}}
              </span>
              <!-- <small>of $1,000 available</small> -->
            </span>
          </div>
        </div>
      </div>

    </div>


    <div class="flex w-full relative add-source justify-start mt-8">
      <ion-button (click)="add_source()" expand="block" fill="outline" shape="round">
        Add Source
      </ion-button>
    </div>
  </div>

  <div class="footer-section">
    <div class="flex justify-between">
      <div class="">
        <span>From</span>
      </div>
      <div class="mr-4">
        <span>To</span>
      </div>
    </div>
    <div class="progress-indication">
      <!-- sourece icon -->
      <div class="point source-point">
        <svg-icon key="sendmoney" fontSize="5rem"></svg-icon>
      </div>

      <!-- connection -->
      <div class="connecting-dash">
        <ion-progress-bar reversed="true" value="0" buffer="0"></ion-progress-bar>
      </div>

      <!-- destination icon -->
      <div class="point destination-point">
        <svg-icon key="destination" fontSize="5rem"></svg-icon>
      </div>

    </div>

    <div class="continue-button">
      <button (click)="continue_to_destination()" class="py-4 px-6   focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center  font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-full flex justify-center items-center gold-gradient text-xl  letspac-1" type="submit">
        Continue to Destination
      </button>
    </div>
  </div>
</ion-content>
