<app-header title="Selected Sources" back_url="/dashboard"></app-header>

<ion-content>



  <!-- refrence -->
  <!-- https://dribbble.com/shots/7188812-Nomad-App-Light-Theme -->
  <div class="balance-header">
    <div class="transaction-balance">
      <h3 class="letspac-1">Transfer Amount</h3>
      <h1>{{source_amount | currency}}</h1>
    </div>
  </div>

  <div class="sourecs-container">

    <!-- Source List -->


    <!-- Destination List -->
    <div class="selected-destinations" *ngFor="let source of selected_sources">
      <div class="selected-item mt-4">
        <div
          class="destination-card transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 flex justify-between items-center destination-item">
          <div class="w-full">
            <div class="flex justify-between items-center">
              <div class="w-auto badge">
                <div class="badge-div flex justify-start items-center">
                  <div class="icon-div">

                    <svg-icon key="ewallet" fontSize="16px" class="ml-2"></svg-icon>
                  </div>
                  <div>
                    <span *ngIf="source.metadata.category == 'cash'">Cash</span>
                    <span *ngIf="source.metadata.category == 'ewallet'">Wallet</span>
                    <span *ngIf="source.metadata.category == 'bank_transfer'">Bank Transfer</span>
                    <span *ngIf="source.metadata.category == 'bank_redirect'">Bank Redirect</span>
                    <span *ngIf="source.metadata.category == 'card'">Card</span>
                    <span *ngIf="source.metadata.category == 'rapyd_ewallet'">Rapyd</span>
                  </div>
                </div>
              </div>
              <div class="amount-badge text-center">
                <span class="text-green-900 font-bold letspac-2">
                  {{source.amount | currency}}
                </span>
              </div>
            </div>
          </div>
          <div class="w-full flex my-4">
            <div class="flex items-center w-2/3 text-base font-medium dark:text-white text-gray-800">
              <h4 class="">{{source.metadata.name}}</h4>
            </div>
            <div class="img-container w-1/3 flex justify-end">
              <img [src]="source.metadata.image" alt="">
            </div>
          </div>

          <div class="w-full flex">
            <div class="delete-badge bg-red-300 text-red-900 text-center w-full" (click)="delete_source(source)">
              <h4 class="">Delete</h4>
            </div>


          </div>
        </div>
      </div>


    </div>

    <div class="selected-sources" *ngFor="let source of selected_sources">

      <div class="selected-item mt-4" (click)="edit_source(source)">
        <div
          class="source-card transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 flex justify-between items-center source-item">
          <div class="w-full">
            <div class="flex justify-between items-center">
              <div class="w-auto badge">
                <div class="badge-div flex justify-start items-center">
                  <div class="icon-div">
                    <svg-icon [key]="source.metadata.category" fontSize="16px" class="ml-2"></svg-icon>
                  </div>
                  <div>
                    <span *ngIf="source.metadata.category == 'cash'">Cash</span>
                    <span *ngIf="source.metadata.category == 'ewallet'">Wallet</span>
                    <span *ngIf="source.metadata.category == 'bank_transfer'">Bank Transfer</span>
                    <span *ngIf="source.metadata.category == 'bank_redirect'">Bank Redirect</span>
                    <span *ngIf="source.metadata.category == 'card'">Card</span>
                    <span *ngIf="source.metadata.category == 'rapyd_ewallet'">Rapyd</span>
                  </div>

                </div>
              </div>
              <div class="amount-badge text-center">
                <span *ngIf="source.amount != -1" class="text-green-900 font-bold letspac-2">
                  {{source.amount | currency}}
                </span>
              </div>
            </div>
          </div>
          <div class="w-full flex my-4">

            <div class="flex items-center w-2/3 text-base font-medium dark:text-white text-gray-800">
              <h4 class="">{{source.metadata.name}}</h4>
            </div>
            <div class="img-container w-1/3 flex justify-end">
              <img [src]="source.metadata.image" alt="">
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="flex w-full relative add-source justify-start mt-8">
      <ion-button (click)="add_source()" expand="full" fill="solid" shape="round">
        Add Source
      </ion-button>
    </div>
  </div>

  <div class="footer-section">
    <div class="flex justify-between">
      <div class="">
        <span>From</span>
      </div>
      <div class="mr-4">
        <span>To</span>
      </div>
    </div>
    <div class="progress-indication">
      <!-- sourece icon -->
      <div class="point source-point">
        <svg-icon key="sendmoney" fontSize="5rem"></svg-icon>
      </div>

      <!-- connection -->
      <div class="connecting-dash">
        <ion-progress-bar reversed="true" value="0" buffer="0"></ion-progress-bar>
      </div>

      <!-- destination icon -->
      <div class="point destination-point">
        <svg-icon key="destination" fontSize="5rem"></svg-icon>
      </div>

    </div>

    <!-- Continue to Destination if many to many -->
    <div *ngIf="this.rx.temp['transaction'].type != 'many2w'" class="continue-button">
      <button [disabled]="this.selected_sources.length < 1 || !source_amount" (click)="continue_to_destination()"
        class="py-4 px-6   focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center  font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-full flex justify-center items-center gold-gradient text-xl  letspac-1"
        type="submit">
        Continue to Destination
      </button>
    </div>

    <!-- Continue to overview if charge wallet -->
    <div *ngIf="this.rx.temp['transaction'].type == 'many2w'" class="continue-button">
      <button [disabled]="this.selected_sources.length < 1 || !source_amount" (click)="continue_to_overview()"
        class="py-4 px-6   focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center  font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-full flex justify-center items-center gold-gradient text-xl  letspac-1"
        type="submit">
        Continue to Confirmation
      </button>
    </div>



  </div>
</ion-content>
