<ion-content>
  <div class="listofcc-header flex justify-between items-center">
  <div class="">
      <h1 class="letspac-1 text-gray-900 text-5xl">Cards</h1>
  </div>
  <div class="add-btn">
    <ion-icon name="add-circle-outline" class="text-gray-900 text-5xl"></ion-icon>
  </div>
</div>

<div class="cards-type flex justify-between mt-4">
  <div class="pc-button">
    <a href="" target="_blank" rel="noopener noreferrer"> physical cards
</a>
  </div>
  <div class="vc-button">
    <a href="" target="_blank" rel="noopener noreferrer"> virtual cards
    </a>
  </div>

</div>


<app-cc></app-cc>
<app-cc></app-cc>

</ion-content>
