<ion-content>
  <div class="row">
    <img src="../../../assets/images/logo/logoipsum-logo-15.svg" alt="" srcset="">
  </div>

  <div class="row header-row mt-8 text-center">
    <h5 class="text-4xl">Verify Account</h5>
    <p class=" pt-4 letspac-1">Please , Enter the verification code we sent to your mobile number</p>
  </div>
  
  <div class="row phone-row pt-24">
    <div class="code-input">
      <label for="price" class="code-label block font-medium text-gray-700 text-2xl mb-2">Enter Code : </label>
      <div class="code-inputs">
        <input *ngFor="let i of [1,2,3,4,5,6]" type="text" inputMode="numeric" maxLength="1" />
      </div>
    </div>
  </div>

  <div class="row button-row mt-4">
    <div class="validating flex justify-between">
      <p class="letspac-1 ml-2">Validating</p>
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>

</ion-content>
