ion-header {
  .page-name {
    margin-left: 3%;
  }
}

ion-content {
  --padding-top: 0px;
  --padding-end: 1rem;
  --padding-start: 1rem;

  .source-item,
  .destination-item {
    box-shadow: 0 9px 60px 6px rgba(0, 0, 0, 0.1),
      0 12px 12px 2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .badge {
    .badge-div {
      // padding: 0.2rem 0.5rem;
      // background: var(--secondary-tint);
      width: auto;
      border-radius: 24px;

      .icon-div {
        margin-top: 6px;
        margin-right: 6px;
      }
    }
  }

  .amount-badge {
    padding: 0.5rem;
    width: auto;
    font-size: 1.2rem;
  }

  .source-card {
    .img-container {
      height: 2rem;

      img {
        object-fit: contain;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .primary-badge,
  .green-badge,
  .warning-badge {
    padding: 0.5rem;
    background: var(--secondary-tint);
    width: auto;
    border-radius: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--secondary);
    box-shadow: 0px 3px 1px 0px #b55408;
  }

  .green-badge {
    background: rgb(167, 243, 208);
    color: green;
  }

  .warning-badge {
    background: rgb(254, 202, 202);
    color: red;
  }
}
.action-button {
  font-size: 0.9em;
  padding: 0.5em;
}

.payment-title {
  margin-right: -1rem;
  margin-left: -1rem;
  padding: 1rem;
  background: var(--secondary-tint);
}

.done-badge {
  background: rgb(167, 243, 208);
  color: green;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  border-radius: 40px;
}

.error-badge {
  background: rgb(254, 202, 202);
  color: red;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  border-radius: 40px;
}

.require-badge {
  // background: rgb(214, 208, 208);
  color: rgb(33, 30, 30);
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  border-radius: 40px;
}
