<app-header title="Complete Transaction"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh_transaction($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <!-- Sources Loop -->
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-base text-gray-800 letspac-1">
        Sources of Payments
      </h2>
    </div>
    <div>
      <ion-button [disabled]="loading.loading$ | async" (click)="do_payments()" expand="full" fill="solid"
        shape="round">
        Do Payments
      </ion-button>
    </div>
  </div>
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-base text-gray-800 letspac-1">
        Payments total: {{transaction?.source_amount}}
      </h2>
    </div>
    <div>
      <h2 class="text-base text-gray-800 letspac-1">
        Done: {{transaction?.closed_payments_amount}}
      </h2>
    </div>
  </div>

  <ion-button (click)="save_transaction()" expand="full" fill="solid" shape="round">
    Save for Later
  </ion-button>
  <div *ngFor="let payment of transaction?.payments" class="sources">

    <div class="selected-item mt-4">
      <div class="source-card transition duration-500 ease-in-out hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 flex justify-between items-center source-item">
        <div class="w-full">
          <div (click)="card_clicked(payment)" class="flex justify-between items-center">
            <div class="w-auto badge">
              <div class="badge-div flex justify-start items-center">
                <div class="icon-div">
                  <svg-icon [key]="payment?.request?.metadata?.category" fontSize="16px" class="ml-2"></svg-icon>
                </div>
                <div>
                  <span *ngIf="payment?.request?.metadata?.category == 'cash'">Cash</span>
                  <span *ngIf="payment?.request?.metadata?.category == 'ewallet'">Wallet</span>
                  <span *ngIf="payment?.request?.metadata?.category == 'bank_transfer'">Bank Transfer</span>
                  <span *ngIf="payment?.request?.metadata?.category == 'bank_redirect'">Bank Redirect</span>
                  <span *ngIf="payment?.request?.metadata?.category == 'card'">Card</span>
                  <span *ngIf="payment?.request?.metadata?.category == 'rapyd_ewallet'">Rapyd</span>
                </div>

              </div>
            </div>
            <div class="amount-badge text-center">
              <span *ngIf="payment?.request?.amount != -1" class="text-green-900 font-bold letspac-2">
                {{payment?.request?.amount | currency}}
              </span>
            </div>
          </div>
        </div>
        <div class="w-full flex my-4">
          <div class="flex items-center w-2/3 text-base font-medium dark:text-white text-gray-800">
            <h4 class="">{{payment?.request?.metadata?.name}}</h4>
          </div>
          <div class="img-container w-1/3 flex justify-end">
            <img [src]="payment?.request?.metadata?.image" alt="">
          </div>
        </div>
        <div class="w-full">
          <button class="text-center primary-badge flex w-full" [disabled]="!btn_active(payment)" (click)="payment_action(payment)" >
            {{payment?.response?.body?.data?.status?action_status_type(payment?.response?.body?.data?.status)?.btn:"Collection is Ready"}}
          </button>
        </div>
      </div>

    </div>

  </div>
  <div class="logo flex justify-center my-8">
    <img src="../../../../assets/images/logo/logo.svg" width="40%" alt="" srcset="">
  </div>
  <!-- Destinations Loop -->
  <div class="flex justify-between items-center">
    <div class="">
    <h2 class="text-base text-gray-800 letspac-1">
      Destinations of Payouts
    </h2>
    </div>
    <div>
    <ion-button [disabled]="loading.loading$ | async" (click)="do_payouts()" expand="full" fill="solid" shape="round">
      Do Payouts
    </ion-button>
  </div>
  </div>
  <div *ngFor="let payout of transaction?.payouts" class="destinations">

    <div class="selected-item mt-4">
      <div class="destination-card transition duration-500 ease-in-out hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 flex justify-between items-center destination-item">
        <div class="w-full">
          <div (click)="card_clicked(payout)" class="flex justify-between items-center">
            <div class="w-auto badge">
              <div class="badge-div flex justify-start items-center">
                <div class="icon-div">
                  <svg-icon [key]="payout?.request?.metadata?.category" fontSize="16px" class="ml-2"></svg-icon>
                </div>
                <div>
                  <span *ngIf="payout?.request?.metadata?.category == 'cash'">Cash</span>
                  <span *ngIf="payout?.request?.metadata?.category == 'ewallet'">Wallet</span>
                  <span *ngIf="payout?.request?.metadata?.category == 'bank_transfer'">Bank Transfer</span>
                  <span *ngIf="payout?.request?.metadata?.category == 'bank_redirect'">Bank Redirect</span>
                  <span *ngIf="payout?.request?.metadata?.category == 'bank'">Bank</span>
                  <span *ngIf="payout?.request?.metadata?.category == 'card'">Card</span>
                  <span *ngIf="payout?.request?.metadata?.category == 'rapyd_ewallet'">Rapyd</span>
                </div>

              </div>
            </div>
            <div class="amount-badge text-center">
              <span *ngIf="payout.request.payout_amount != -1" class="text-green-900 font-bold letspac-2">
                {{payout.request.payout_amount | currency}}
              </span>
            </div>
          </div>
        </div>
        <div class="w-full flex my-4">
          <div class="flex items-center w-2/3 text-base font-medium dark:text-white text-gray-800">
            <h4 class="">{{payout.request.metadata.name}}</h4>
          </div>
          <div class="img-container w-1/3 flex justify-end">
            <img [src]="payout.request.metadata.image" alt="">
          </div>
        </div>
        <div class="flex w-full">
          <button  class="text-center primary-badge w-full" [disabled]="true">
              {{payout?.response?.body?.data?.status?action_status_type(payout?.response?.body?.data?.status)?.btn:"Payouts Ready"}}
          </button>
        </div>
      </div>

    </div>

  </div>

</ion-content>
