

.filter {
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: -2rem;
}

.list-header {
  background-color: var(--secondary-shade);
    padding: 1rem 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
}

ion-content {
  --padding-top: 0px;
}