<div class="transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 rounded-md flex flex-1 items-center p-4">
  <ion-icon *ngIf="transaction.direction == TDirection.up" name="arrow-up-outline"></ion-icon>
  <ion-icon *ngIf="transaction.direction == TDirection.down" name="arrow-down-outline"></ion-icon>
  <div class="flex-1 pl-1 md:mr-16">
    <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
      {{transaction.name}}
    </h3>
    <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
      <span aria-hidden="true" class="absolute inset-0 bg-green-200 opacity-50 rounded-full">
      </span>
      <span class="relative">
        {{transaction.amount | currency}}
      </span>
    </span>

    <p class="mt-1 max-w-2xl text-sm text-gray-500 dark:text-gray-200">
      {{transaction.description}}
    </p>
  </div>
  <div class="text-gray-600 dark:text-gray-200 text-xs">
    {{transaction.start_date | date}}
  </div>
  <button class="w-24 text-right flex justify-end">
    <svg width="12" fill="currentColor" height="12" class="hover:text-gray-800 dark:hover:text-white dark:text-gray-200 text-gray-500" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
      <path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">
      </path>
    </svg>
  </button>

  <div class="relative block w-full h-10">
    <ng-container *ngFor="let p of transaction.points;let i = index">
      <div class="point" [ngClass]="{'point-start': i==0}">


        <ion-icon *ngIf="p?.type == TPoint.bank" name="business-outline"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.pcard" name="card"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.cash" name="cash"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.wallet" name="logo-usd"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.crypto" name="logo-bitcoin"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.vcard" name="card-outline"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.stock" name="trending-up"></ion-icon>

        <!-- will have class point_count_2 if there are two point, 3 if three etc. -->
        <!-- usefull if you wan to set dash width as a percentage % -->
        <div *ngIf="i!=(transaction.points.length-1)" class="dash" [ngClass]="dash_class(transaction.points.length,i)"></div>

      </div>
    </ng-container>


  </div>
</div>
