<div
  class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 items-center p-4">

  <div class="title-row pl-1 md:mr-16 w-full flex justify-between items-center">
    <div *ngIf="transaction.direction == TDirection.up"
      class="flex text-lg leading-6 font-medium dark:text-white text-gray-800">
      <h4 class="">Sent</h4>
      <ion-icon name="arrow-up-outline"></ion-icon>
    </div>
    <div *ngIf="transaction.direction == TDirection.down"
      class="flex text-lg leading-6 font-medium text-gray-800 dark:text-white">
      <h4>Recived</h4>
      <ion-icon name="arrow-down-outline"></ion-icon>
    </div>
    <div *ngIf="transaction.direction == TDirection.internal"
      class="flex text-lg leading-6 font-medium text-gray-800 dark:text-white">
      <h4>Internal</h4>
      <ion-icon name="circle-outline"></ion-icon>
    </div>

    <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
      <span aria-hidden="true" class="absolute inset-0 opacity-50 rounded-full">
      </span>
      <span class="relative">
        {{transaction.amount | currency}}
      </span>
    </span>
  </div>

  <div class="status-row md:mr-16 w-full flex justify-between items-center">

    <!-- Transaction Status -->
    <!-- if success -->
    <div class="" *ngIf="transaction.status == TStatus.success">
      <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
        <span aria-hidden="true" class="absolute inset-0 bg-green-200 opacity-50 rounded-full">
        </span>
        <span class="relative">
          Success
        </span>
      </span>
    </div>

    <!-- if pending -->
    <div class="" *ngIf="transaction.status == TStatus.pending">
      <span class="relative inline-block px-3 py-1 font-semibold text-yellow-900 leading-tight">
        <span aria-hidden="true" class="absolute inset-0 bg-yellow-200 opacity-50 rounded-full">
        </span>
        <span class="relative">
          Pending
        </span>
      </span>
    </div>

    <!-- if failed -->
    <div class="" *ngIf="transaction.status == TStatus.failed">
      <span class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight">
        <span aria-hidden="true" class="absolute inset-0 bg-red-200 opacity-50 rounded-full">
        </span>
        <span class="relative">
          Failed
        </span>
      </span>
    </div>

    <div class="date flex">
      <div class="text-gray-600 dark:text-gray-200 text-sm">
        {{transaction.start_date | date}}
      </div>

    </div>
  </div>


  <div class="details-row flex justify-between items-center my-2">

    <p class="mt-1 max-w-2xl text-sm text-gray-500 dark:text-gray-200">
      {{transaction.description}}
    </p>

  </div>



  <div class="relative  w-full h-10 flex justify-between items-center">
    <ng-container *ngFor="let p of transaction.points;let i = index">
      <div class="point" [ngClass]="{'point-start': i==0}">
        <ion-icon *ngIf="p?.type == TPoint.bank" name="business-outline"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.pcard" name="card"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.cash" name="cash"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.wallet" name="logo-usd"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.crypto" name="logo-bitcoin"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.vcard" name="card-outline"></ion-icon>
        <ion-icon *ngIf="p?.type == TPoint.stock" name="trending-up"></ion-icon>

        <!-- will have class point_count_2 if there are two point, 3 if three etc. -->
        <!-- usefull if you wan to set dash width as a percentage % -->
        <div *ngIf="i!=(transaction.points.length-1)" class="dash" [ngClass]="dash_class(transaction.points.length,i)">
        </div>

      </div>
    </ng-container>


  </div>

</div>
