<app-header title="Verify your wallet"></app-header>

<ion-content>

  <div class="progress-section">

    <div class="relative circle">

       <svg-icon key="wallet" fontSize="5rem"></svg-icon>

      <circle-progress
        [percent]="progress_percent"
        [maxPercent]="100"
        [radius]="radius"
        [showTitle]="false"
        [showSubtitle]="true"
        [subtitle]="subtitle"
        [subtitleFontSize]="'30'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [outerStrokeColor]="'#b45309'"
        [showZeroOuterStroke]="false"
        [backgroundStroke]="'#33003F'"
        [backgroundStrokeWidth]="3"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'      #f59e0b'"
        [showInnerStroke]="false"></circle-progress>


    </div>

  </div>

  <div class="form-page">
    <form [formGroup]="wallet_form" class="w-full max-w-lg">
      <div class="flex flex-wrap -mx-3 mb-6">

        <div class="w-full my-MD px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 text-base font-bold mb-2" for="grid-first-name">
            First Name
          </label>
          <input formControlName="first_name"
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-first-name" type="text" placeholder="first name">
        </div>

        <div class="w-full my-MD px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 text-base font-bold mb-2" for="grid-first-name">
            last Name
          </label>
          <input formControlName="last_name"
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-first-name" type="text" placeholder="last name">
        </div>

        <div class="w-full my-MD px-3 mb-6 md:mb-0">
          <label class="block tracking-wide text-gray-700 text-base font-bold mb-2" for="grid-first-name">
            Email
          </label>
          <input formControlName="email"
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="grid-first-name" type="email" placeholder="example@email.com">
        </div>

        <div class="country-row">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-base font-bold mb-2" for="grid-country">
              Enter Your Country
            </label>
            <div class="relative">
              <mat-form-field class="countries-autocomplete" appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput aria-label="Country" [matAutocomplete]="auto_1" formControlName="country">
                <mat-autocomplete #auto_1="matAutocomplete">
                  <mat-option class="country-option" *ngFor="let country of filteredCountries | async"
                    [value]="country.alpha2Code">
                    <img class="example-option-img" aria-hidden [src]="country.flag">
                    <span>{{country.name}}</span> |
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>
          </div>
        </div>





        <div class="w-full my-MD mt-6">
          <button  [disabled]="this.wallet_form.invalid || loading.loading" (click)="submit()" type="button" class="py-4 px-6   focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center  font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-full flex justify-center items-center gold-gradient text-xl  letspac-1">
          Get your Wallet
          </button>

        </div>

      </div>

    </form>
  </div>


</ion-content>
