<ion-content [fullscreen]="true">
  <div class="row header-row">
    <p class="pl-2 text-2xl letspac-1 text-center">Enter your pin</p>
  </div>


  <div class="row mt-4 flex justify-center">
    <svg-icon key="dial" fontSize="5rem"></svg-icon>
  </div>

  <div class="row pin-row pt-8">
    <div class="code-inputs">
      <input
        (ngModelChange)="update_code($event,i)"
        [id]="'login_code_input_'+i"
        [(ngModel)]="pin[i]"
        *ngFor="let i of [1,2,3,4,5,6]"
        type="password" inputMode="numeric" maxlength="1" />
    </div>

    <div class="row button-row mt-4">

      <div *ngIf="!loading.loading" class="validating flex justify-between">
        <p class="letspac-1 ml-2 sms-subtext">Confirm code</p>
      </div>


      <div *ngIf="sandbox_message" class="validating flex justify-between">
        <code class="letspac-1 ml-2 sms-subtext text-yellow-300">{{sandbox_message}}</code>
      </div>

      <div *ngIf="!loading.loading && this.success=='incorrect'" class="validating flex justify-between">
        <p class="letspac-1 ml-2 danger">Incorrect code</p>
      </div>

      <div *ngIf="loading.loading" class="validating flex justify-between">
        <p class="letspac-1 ml-2 sms-subtext">Validating</p>
        <ion-spinner name="crescent"></ion-spinner>
      </div>

      <div *ngIf="this.success=='correct'" class="validating flex justify-between">
        <p class="letspac-1 ml-2 sms-subtext success">Logged in</p>
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </div>

    </div>
  </div>

  <div class="dialpad">
    <div class="row flex flex-wrap">
      <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,'clear',0,'continue']" class="w-1/3 text-center">
        <!-- numbers -->
        <ion-button style="width: 33vw;" *ngIf="(i != 'continue') && ( i != 'clear')"> {{i}} </ion-button>
        <!-- continue -->
        <ion-button style="width: 33vw;" *ngIf="i=='continue'">
          <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
        </ion-button>
        <!-- clear -->
        <ion-button style="width: 33vw;" *ngIf="i=='clear'">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>
