ion-content{
  padding: 2rem;
  --padding-bottom: 2rem;
  --padding-end: 2rem;
  --padding-start: 2rem;
  --padding-top: 2rem;
  @apply container;
}
.gold-gradient {
  @apply bg-gradient-to-r from-yellow-700 via-yellow-600 to-yellow-500 ;
}

.outline-unset{
  outline: none !important;
}
.letspac-1{
  letter-spacing: 1px !important;
}