
ion-content {
  --offset-bottom: 0px;
  --offset-top: 0px;
  --padding-bottom:4rem;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
}
ion-header {
  padding:1.5rem 2rem 9rem;
  background-image:url("../../../assets/images/bg1.svg") ;
  background-attachment: fixed;
  background-size:contain;
  .header-container{
    position: fixed;
    h3 {
      font-weight: 600;
      color: white;
      font-size: 3rem;
    }
    .notification {
      height: 4rem;
      margin-right: 0px;
    position: absolute;
    right: -171px;
      ion-icon {
       color: #fff;
      }
    }
    .buttons-row {
      ion-icon {
        padding: 0.5rem;
      }
      span {
        font-size: 1.25rem;
      }
      svg-icon {
            stroke-width: 0.4px;
      stroke: var(--tertiary);
      }
    }
  }
}

.send-container{
  .buttons-div button {
    justify-content: center;
    background: var(--secondary-tint);
    padding: 0.5rem;
    border-radius: 20px;
    color: var(--secondary);
  }
  .charge{
    // background-color: var(--secondary-tint);
    background-image: url("../../../assets/images/Simple\ Shiny.svg");
    background-size: contain;
    .buttons-div button {
      background:#fff;
    }
    svg-icon {
      color: #000;
    }
  }
}




.source-item{
  box-shadow:   0 9px 60px 6px rgba(0, 0, 0, 0.1), 0 12px 12px 2px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
