<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ion_refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header>
    <div class="header-container w-full">
      <div class="flex justify-between w-full">
        <div class="">
          <h3 class="text-5xl">{{balance | currency:'USD':'symbol':'3.0'}}</h3>
        </div>
          <!-- <svg-icon class="svg-white" key="notification-colored" fontSize="35px"></svg-icon> -->
          <div class="flex">
            <img src="../../../assets/images/logo/logo.svg" width="40%" alt="" srcset="">
          </div>
      </div>
      <p class="text-gray-300 letspac-1 text-xl">Available balance</p>
      <!-- <div class="row mt-6 buttons-row">
        <div class="container flex justify-between">
          <div class=""> <button [disabled]="loading.loading" (click)="add_btn()" type="button"
              class=" focus:ring-offset-blue-200 text-gray-300 transition ease-in duration-200 text-center focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-2xl justify-center items-center flex flex-wrap letspac-1 ">
              <div class="p-2 text-gray-700 shadow-lg rounded-2xl">
                <svg-icon class="svg-tertiary flex" key="credit-card" fontSize="35px"></svg-icon>
              </div> <span>Add</span>
            </button> </div>
          <div class=""> <button [disabled]="loading.loading" (click)="nfc_btn()" type="button"
              class=" focus:ring-offset-blue-200 text-gray-300 transition ease-in duration-200 text-center focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-2xl justify-center items-center flex flex-wrap letspac-1 ">
              <div class="p-2 text-gray-700 shadow-lg rounded-2xl ">
                <svg-icon class="svg-tertiary flex" key="nfc" fontSize="35px"></svg-icon>
              </div> <span>NFC</span>
            </button> </div>
          <div class=""> <button [disabled]="loading.loading" (click)="move_btn()" type="button"
              class=" focus:ring-offset-blue-200 text-gray-300 transition ease-in duration-200 text-center focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-2xl justify-center items-center flex flex-wrap letspac-1 ">
              <div class="p-2 text-gray-700 shadow-lg rounded-2xl">
                <svg-icon class="svg-tertiary flex" key="transfer" fontSize="35px"></svg-icon>
              </div> <span>Move</span>
            </button> </div>
          <div class=""> <button [disabled]="loading.loading" (click)="make_transaction()" type="button"
              class=" focus:ring-offset-blue-200 text-gray-300 transition ease-in duration-200 text-center focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-2xl justify-center items-center flex flex-wrap letspac-1 ">
              <div class="p-2 text-gray-700 shadow-lg rounded-2xl ">
                <svg-icon class="svg-tertiary flex" key="send" fontSize="35px"></svg-icon>
              </div> <span>Send</span>
            </button> </div>
        </div>
      </div> -->
    </div>
  </ion-header>
  <div class="raised-content pb-32">
    <div class="dashboard-section">
      <div class="relative">
        <app-dashboard-methods></app-dashboard-methods>
      </div>
    </div>

    <div class="send-container mt-10">
      <div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 source-item">
        <p class="text-base text-gray-500">SEND OR REQUEST CREDIT</p>
        <div class="flex mt-5">
          <div class="icon">
            <svg-icon key="transfer-money" fontSize="3rem" class="mr-2"></svg-icon>
          </div>
          <div class="">
            <p class="text-gray-900 text-xl font-bold">Owe Someone For Lunch?</p>
            <span class="mt-2">Make it up to them Now</span>
          </div>
        </div>

        <div class="flex text-lg leading-6 font-medium dark:text-white text-gray-800 mt-4 buttons-div">
          <button (click)="make_transaction()" class="w-full">
            Make A Transaction
          </button>
        </div>
      </div>

      <div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 source-item mt-4">
        <p class="text-base text-gray-500">SEND OR REQUEST CREDIT</p>
        <div class="flex mt-5">
          <div class="icon">
            <svg-icon key="transfer" fontSize="3rem" class="mr-2"></svg-icon>
          </div>
          <div class="">
            <p class="text-gray-900 text-xl font-bold">Owe Someone For Lunch?</p>
            <span class="mt-2">Make it up to them Now</span>
          </div>
        </div>

        <div class="flex justify-between text-lg leading-6 font-medium dark:text-white text-gray-800 mt-4 buttons-div">
          <div class="w-5/12">
            <button (click)="insta_send()" class="w-full">
              Send
            </button>
          </div>
          <div class="w-5/12">
            <button (click)="onClick()" class="w-full">
              Recive
            </button>
          </div>
        </div>

      </div>

      <div class="transition mt-4 charge duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 source-item">
        <p class="text-base text-gray-500"></p>
        <div class="flex mt-5">
          <div class="icon">
            <svg-icon key="ewallet" fontSize="3rem" class="mr-2"></svg-icon>
          </div>
          <div class="">
            <p class="text-gray-800 text-xl font-bold">Charge your wallet now!</p>
            <span class="mt-2">Make it up to them Now</span>
          </div>
        </div>

        <div class="flex text-lg leading-6 font-medium dark:text-white text-gray-800 mt-4 buttons-div">
          <button (click)="make_transaction()" class="w-full">
            Charge
          </button>
        </div>
      </div>

      <div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 source-item mt-4">
        <p class="text-base text-gray-500">you have 5 cards</p>
        <div class="flex mt-5">
          <div class="icon">
            <svg-icon key="card" fontSize="3rem" class="mr-2"></svg-icon>
          </div>
          <div class="">
            <p class="text-gray-900 text-xl font-bold">always lose your cards?</p>
            <span class="mt-2">save them in one place now!</span>
          </div>
        </div>

        <div class="flex justify-between text-lg leading-6 font-medium dark:text-white text-gray-800 mt-4 buttons-div">
          <div class="w-5/12">
            <button (click)="insta_send()" class="w-full">
              see all
            </button>
          </div>
          <div class="w-5/12">
            <button (click)="onClick()" class="w-full">
              create
            </button>
          </div>
        </div>

      </div>

      <div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 p-4 source-item mt-4">
        <p class="text-base text-gray-500">SEND OR REQUEST CREDIT</p>
        <div class="flex mt-5">
          <div class="icon">
            <svg-icon key="store" fontSize="3rem" class="mr-2"></svg-icon>
          </div>
          <div class="">
            <p class="text-gray-900 text-xl font-bold">Sell what you want Now!</p>
            <span class="mt-2">place your ad now</span>
          </div>
        </div>

        <div class="flex justify-between text-lg leading-6 font-medium dark:text-white text-gray-800 mt-4 buttons-div">
          <div class="w-5/12">
            <button (click)="insta_send()" class="w-full">
              sell
            </button>
          </div>
          <div class="w-5/12">
            <button (click)="onClick()" class="w-full">
              store
            </button>
          </div>
        </div>

      </div>



    </div>




    <div class="pending-transactions-section ">
      <ion-text color="primary">
        <h1 class="letspac-1 font-bold text-xl text-gray-800 mt-8"> Recent Transactions : </h1>
      </ion-text>
      <app-transaction-item class="block relative mt-4" *ngFor="let t of trans$ | async" [transaction]="t">
      </app-transaction-item>
      <div class="row button-row mt-4">
        <ion-button (click)="view_all_btn()" expand="full" fill="outline" shape="round"> View all </ion-button>
      </div>
    </div>
    <app-bottom-nav></app-bottom-nav>

  </div>

</ion-content>
