<ion-content>

  <div class="dashboard-section">
    <ion-text color="primary">
      <h1>Overview</h1>
    </ion-text>

    <div class="relative">
      <app-methods-dashboard></app-methods-dashboard>
    </div>
  </div>

  <div class="pending-transactions-section">
    <ion-text color="primary">
      <h1>Pending Transactions</h1>
    </ion-text>

    <app-transaction-item class="block relative mt-4" *ngFor="let t of past_transactions" [transaction]="t"></app-transaction-item>

  </div>


</ion-content>
