<app-header title="Product Details"></app-header>

<ion-content>
  <div class="product">
    <div class="row flex justify-between py-4">
      <div class="name">
        <p>Toyota Car</p>
      </div>
      <div class="category-badge">
        <p>
          cars
        </p>
      </div>
    </div>
    <div class="row">
      <img src="../../../../assets/images/car.jpg" alt="" srcset="">
    </div>
    <div class="row my-4">
      <p class="letspac-1 text-gray-600 ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia excepturi exercitationem, quam in repellendus
        consequuntur dicta.
      </p>
    </div>

    <div class="row phone-row">

      <p class="text-grey-700 text-2xl">
        Call Now:
        <a href="tel:+01234669877" class="text-2xl text-yellow-700 letspac-1">01234669877</a>
      </p>

    </div>


  </div>


</ion-content>
