<app-header title="Send Money"></app-header>

 <ion-content>

   <main>
     <section>

       <div
         class="amount-card duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 items-center p-4">
         <div class="pb-3">
           <h2 class="c-title">Transfer amount</h2>
           <div class="price-field w-100 flex justify-center">
             <span class="text-3xl font-bold w-auto currency">USD</span>
             <input class="text-3xl font-bold" type="number">
           </div>
         </div>
         <div class="message pt-3">
           <textarea name="" id="" cols="30" rows="1" placeholder="sent message...."></textarea>
         </div>
       </div>
     </section>


     <footer>
       <div class="row button-row">
         <button type="button"
           class="py-4 px-6   focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center  font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-full flex justify-center items-center gold-gradient text-xl  letspac-1">
           NEXT <ion-icon name="arrow-forward-outline" class="ml-3 text-2xl"></ion-icon>
         </button>
       </div>
     </footer>
   </main>

 </ion-content>
