<app-header title="Send Money"></app-header>

<ion-content>

  <main>
    <section>
        <div class="flex rounded-full border-grey-light border bg-white">
            <button>
              <span class="w-auto flex justify-end items-center text-grey p-2">
                <ion-icon name="search-outline"></ion-icon>
              </span>
            </button>
            <input id="searchphones" [formControl]="search_form" class="w-full rounded mr-4" type="number" inputmode="tel" maxlength="15" placeholder="Search...">
        </div>

        <ion-list>
          <ion-item (click)="initModal(user)" *ngFor="let user of results.users">
            <ion-label>{{user}}</ion-label>
          </ion-item>
        </ion-list>

      <div *ngIf="results.users.length < 1"
        class="phone-card duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer bg-white dark:bg-gray-800 items-center px-4 py-5">
        <div class="">
          <svg-icon key="money-bag" fontSize="4rem"></svg-icon>
          <p class=" text-gray-700 font-bold">Transfer money to anyone using just a mobile number</p>
          <small>Recipients will instantly recieve thier funds in thier wallet</small>

          <div class="mt-4">
          <ion-tab-button (click)="search_contacts()">
              Transfer To a Contact
          </ion-tab-button>
        </div>
          <div class="mt-4">
          <ion-tab-button (click)="search_contacts()">
              Enter A phone Number
          </ion-tab-button>
        </div>
        </div>
      </div>


    </section>
  </main>
</ion-content>
