ion-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   --padding-top: 2rem;

  main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
  }

  section {
    position: relative;
  }

  input {
    padding: .5rem 1rem;
    padding-left: 0rem;
    outline: none;
    border: none;
  }

  .phone-card {
    box-shadow: 0 9px 60px 6px rgba(0, 0, 0, 0.1),
      0 12px 12px 2px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    top: 20%;
    position: relative;
    text-align: center;
    p{
      font-size: 1.2rem;
    }
    ion-tab-button{
      font-size: 1.2rem;
      color: var(--secondary);
      font-weight: 600;
    }

  }



}
